<app-header></app-header>

<div >
  <div class="content">
    <h1 class="page-title">Listado de Usuarios RedColem</h1>

    <div class="table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Sitio Web</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Usu of usuario">
            <td>{{ Usu.idUsuario }}</td>
            <td>{{ Usu.nombre }}</td>
            <td>{{ Usu.apellido }}</td>
            <td>{{ Usu.correoElectronico }}</td>
            <td>{{ Usu.telefono }}</td>
            <td>{{ Usu.sitioWeb }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="btn back-button" routerLink="/registro">Regresar</button>
  </div>
</div>

<app-footer></app-footer>
