<header class="text-center my-4">
  <h1 class="header-title">🌟 Emprendimientos Registrados</h1>
</header>

<div class="container">
  <div class="row">
    <!-- Aquí iteramos sobre cada emprendimiento -->
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let emp of emprendimientos">
      <div class="card custom-card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ emp.nombre }}</h5>
          <p class="card-text text-secondary">{{ emp.descripcion }}</p>
          <p class="card-text text-secondary">Objetivo</p>
          <p class="card-text text-secondary">{{ emp.objetivo }}</p>
          <a [href]="emp.urlSitioWeb" target="_blank" class="btn btn-primary btn-sm">
            Visitar Sitio Web
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

