<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/logo.png" alt="logo-nav" title="logo-nav" class="navbar-logo">
      RedColem
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/home"><i class="bi bi-house-fill"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-fill"></i> Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-chat-fill"></i> Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/publicaciones"><i class="bi bi-file-earmark-post-fill"></i> Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i> Notificaciones</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="#">Cerrar sesión</a>
      </li>
    </div>
  </div>
</nav>
