/* Estilo principal del encabezado */
header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  color: #363955; /* Color principal del título */
  font-size: 2rem;
  font-weight: bold;
}

/* Contenedor de las actividades */
.container {
  margin-top: 2rem;
}

/* Tarjetas de actividad */
.card {
  background-color: #e8e8e8; /* Fondo suave */
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  color: #363955; /* Título de la actividad */
  font-size: 1.25rem;
  font-weight: bold;
}

.card-subtitle {
  font-family: 'Roboto', sans-serif;
  color: #BDC3C7; /* Subtítulo en color tenue */
  font-size: 0.9rem;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  color: #54668e; /* Texto de contenido */
  font-size: 1rem;
  margin-top: 0.5rem;
}

.card .badge {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Colores dinámicos para el estado */
.bg-success {
  background-color: #27AE60 !important; /* Verde */
  color: #2c3e50; /* Letra en color oscuro */
}

.bg-danger {
  background-color: #E74C3C !important; /* Rojo */
  color: #ecf0f1; /* Letra en color claro */
}

.bg-warning {
  background-color: #F1C40F !important; /* Amarillo */
  color: #2c3e50; /* Letra en color oscuro */
}

/* Responsivo */
@media (max-width: 768px) {
  .card-title {
    font-size: 1rem; /* Títulos más pequeños en pantallas pequeñas */
  }

  .card-subtitle {
    font-size: 0.8rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}
